<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BMI">
    
   <insert id="insertBMI" parameterType="Map">
    INSERT INTO bmi
    (BMI_UID, USER_ID, YEAR, HEIGHT, WEIGHT, BMI_RESULT)
    VALUES 
    (#{BMI_UID},'honggd123', CURDATE(),#{HEIGHT},#{WEIGHT},#{BMI_RESULT});
    </insert>
    

</mapper>

