<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Commu">

    <!-- 짭 게시글 입력 #{COMMUNITY_ID}-->
   <insert id="insert" parameterType="Map">
    INSERT INTO community (COMMUNITY_ID, CATEGORY_ID, COMMUNITY_TITLE, COMMUNITY_CONTENT, COMMUNITY_DATE, USER_ID)
    VALUES
    (#{COMMUNITY_ID}, #{CATEGORY_ID} , #{COMMUNITY_TITLE}, #{COMMUNITY_CONTENT}, DATE_FORMAT(NOW(), '%Y.%m.%d %H:%i:%s'), #{USER_ID});
    </insert>


    <!-- 댓글 입력-->
    <insert id="insertcomment" parameterType="Map">
        INSERT INTO comment (`COMMENT`, `COMMUNITY_ID`, `COMMENTDATE`, `COMMENT_USER_ID`,`COMMENT_ID`)
        VALUES
        (#{COMMENT}, #{COMMUNITY_ID}, CURRENT_TIMESTAMP, #{COMMENT_USER_ID}, #{COMMENT_ID});
    </insert>

    <!-- 댓글 읽어오기 -->
    <select id="selectcomment" parameterType="Map" resultType="Map">
        SELECT a.COMMENT, a.COMMENTDATE, a.COMMENT_USER_ID, a.COMMENT_ID, b.USER_ID, b.COMMUNITY_TITLE, b.COMMUNITY_CONTENT, b.COMMUNITY_DATE, b.COMMUNITY_ID
        FROM comment AS a
        INNER JOIN community AS b 
        ON a.COMMUNITY_ID = b.COMMUNITY_ID 
        WHERE b.COMMUNITY_ID = #{COMMUNITY_ID};
    </select>

    <!-- 댓글 삭제 하기-->
    <delete id="deletecomment" parameterType="Map">
        delete 
        from comment
        where COMMENT_ID = #{COMMENT_ID};
    </delete>

    <!-- 해당 게시글 보기-->
    <select id="communityPost" parameterType="Map" resultType="Map">
        SELECT COMMUNITY_ID, COMMUNITY_TITLE, COMMUNITY_CONTENT, USER_ID, DATE(COMMUNITY_DATE) as COMMUNITY_DATE
        FROM project_diet.community
        WHERE COMMUNITY_ID = #{COMMUNITY_ID}
        ORDER BY COMMUNITY_DATE DESC;
    </select>

    <!-- 찐 커뮤니티 테이블 리스트 -->
	<select id="community" parameterType="Map" resultType="Map">
        SELECT comm.COMMUNITY_ID, ca.CATEGORY, comm.COMMUNITY_TITLE, comm.COMMUNITY_CONTENT, comm.USER_ID
        FROM project_diet.community as comm
        INNER JOIN category as ca
        ON comm.CATEGORY_ID = ca.CATEGORY_ID
        WHERE ca.CATEGORY_ID LIKE 'C%'
        order by COMMUNITY_DATE DESC;
    </select>

    <!--Pagination 레코드 갯수 -->
    <select id="cntTotal" parameterType="Map" resultType="int">
        select count(*) as cnt
        from community
        where 1=1
        <choose>
            <when test="search == 'COMMUNITY_TITLE'">
                AND COMMUNITY_TITLE LIKE CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'USER_ID'">
                AND USER_ID LIKE CONCAT('%', #{words}, '%')
            </when>
        </choose> 
        ;
	</select>
    
    <!--Pagination  -->
    <select id="selectPagination" parameterType="Map" resultType="Map">
        SELECT comm.COMMUNITY_ID, ca.CATEGORY, comm.COMMUNITY_TITLE, comm.COMMUNITY_CONTENT, comm.USER_ID ,comm.COMMUNITY_DATE
        FROM project_diet.community as comm
        INNER JOIN category as ca
        ON comm.CATEGORY_ID = ca.CATEGORY_ID
        WHERE ca.CATEGORY_ID LIKE 'C%'
         <choose>
            <when test="search == 'COMMUNITY_TITLE'">
                AND COMMUNITY_TITLE LIKE CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'USER_ID'">
                AND USER_ID LIKE CONCAT('%', #{words}, '%')
            </when>
        </choose> 
        ORDER BY DATE(COMMUNITY_DATE) DESC, TIME(COMMUNITY_DATE) DESC
        limit #{pageBegin}, #{pageScale} 
        ;
	</select>

<!-- -->

</mapper>
