<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MypageService">
    
    <!-- 개인정보 뽑아오기  -->
	<select id="mypagemain" parameterType="Map" resultType="Map">
        SELECT NAME, USER_ID, PASSWORD, PHONENUMBER, ADDRESS, EMAIL
        FROM members;
	</select>

    <!-- 개인정보 수정(update) -->
	<update id="update" parameterType="Map">
        UPDATE members
        SET 
        NAME= #{NAME} 
        , PASSWORD = #{PASSWORD}
        , PHONENUMBER = #{PHONENUMBER}
        , ADDRESS = #{ADDRESS}
        ,EMAIL= #{EMAIL}
        WHERE USER_ID = 'honggd123'; <!-- 하드코딩-->
    </update>

  

   <!-- 본인 게시글만 뽑아오기  -->
	<select id="community" parameterType="Map" resultType="Map">
       SELECT CO.COMMUNITY_ID, CA.CATEGORY, CO.COMMUNITY_TITLE,  CO.COMMUNITY_DATE, CO.USER_ID
        FROM community as CO
        INNER JOIN members AS M
        ON CO.USER_ID = M.USER_ID
        LEFT JOIN category AS CA
        ON CO.CATEGORY_ID = CA.CATEGORY_ID
        WHERE CO.USER_ID = '가배' <!-- userid 하드코팅 해놓았음-->
        ORDER BY  CO.COMMUNITY_DATE DESC;
    </select>
    
    <!-- 커뮤니티 글 삭제 -->
        <delete id="delete" parameterType="Map">
            delete from community
            where COMMUNITY_ID = #{COMMUNITY_ID} 
        </delete>

    <!-- 해당 게시글 보기-->
        <select id="communityPost" parameterType="Map" resultType="Map">
        SELECT COMMUNITY_ID,COMMUNITY_TITLE, COMMUNITY_CONTENT, USER_ID ,COMMUNITY_DATE
        FROM project_diet.community
        WHERE COMMUNITY_ID = #{COMMUNITY_ID}
        </select>

    <!-- 개인정보 수정(update) -->
	<update id="communityupdate" parameterType="Map">
        UPDATE community
        SET 
        COMMUNITY_TITLE = #{COMMUNITY_TITLE}
        ,COMMUNITY_CONTENT = #{COMMUNITY_CONTENT}
        ,COMMUNITY_DATE = now()
        WHERE COMMUNITY_ID = #{COMMUNITY_ID}; 
    </update>

</mapper>

