<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MypageService">
    
    <!-- 개인정보 뽑아오기  -->
	<select id="mypagemain" parameterType="Map" resultType="Map">
        SELECT NAME, USER_ID, PASSWORD, PHONENUMBER, ADDRESS, EMAIL
        FROM members
	</select>

    <!-- 개인정보 수정(update) -->
	<update id="update" parameterType="Map">
        UPDATE members
        SET 
        NAME= #{NAME} 
        , PASSWORD = #{PASSWORD}
        , PHONENUMBER = #{PHONENUMBER}
        , ADDRESS = #{ADDRESS}
        ,EMAIL= #{EMAIL}
        WHERE USER_ID = #{USER_ID}; 
    </update>

  

   <!-- 본인 게시글만 뽑아오기  -->
	<select id="community" parameterType="Map" resultType="Map">
       SELECT CO.COMMUNITY_ID, CA.CATEGORY, CO.COMMUNITY_TITLE,  CO.COMMUNITY_DATE, CO.USER_ID
        FROM community as CO
        INNER JOIN members AS M
        ON CO.USER_ID = M.USER_ID
        LEFT JOIN category AS CA
        ON CO.CATEGORY_ID = CA.CATEGORY_ID
        WHERE CO.USER_ID = #{USER_ID} 
        ORDER BY  CO.COMMUNITY_DATE DESC;
    </select>
    
    <!-- 커뮤니티 글 삭제 -->
        <delete id="delete" parameterType="Map">
            delete from community
            where COMMUNITY_ID = #{COMMUNITY_ID} 
        </delete>

    <!-- 해당 게시글 보기-->
        <select id="communityPost" parameterType="Map" resultType="Map">
        SELECT COMMUNITY_ID,COMMUNITY_TITLE, COMMUNITY_CONTENT, USER_ID ,COMMUNITY_DATE
        FROM project_diet.community
        WHERE COMMUNITY_ID = #{COMMUNITY_ID}
        </select>

    <!-- 개인정보 수정(update) -->
	<update id="communityupdate" parameterType="Map">
        UPDATE community
        SET 
        COMMUNITY_TITLE = #{COMMUNITY_TITLE}
        ,COMMUNITY_CONTENT = #{COMMUNITY_CONTENT}
        ,COMMUNITY_DATE = now()
        WHERE COMMUNITY_ID = #{COMMUNITY_ID}; 
    </update>

     <!-- 탈퇴(update) -->
	<update id="dormant" parameterType="Map">
        UPDATE members
        SET 
        DORMANT_UID = 'H_02', PASSWORD = '!@#$%^*'
        WHERE USER_ID = #{USER_ID}; 
    </update>

    <!-- 본인 설문조사 기록 리스트 뽑아오기  -->
    <select id="surveylist" parameterType="Map" resultType="Map">
    SELECT T_SR.USER_ID, T_SR.DATE_TIME ,T_S.SURVEY_TYPE_ID, T_SR.SURVEY_UID
    FROM MEMBERS as T_M
    INNER JOIN SURVEYRESULT AS T_SR
    ON T_M.USER_ID = T_SR.USER_ID
    INNER JOIN SURVEY AS T_S
    ON T_SR.SURVEY_UID = T_S.SURVEY_UID
    GROUP BY T_S.SURVEY_UID, T_SR.DATE_TIME, T_S.SURVEY_TYPE_ID, T_SR.SURVEY_UID
    HAVING USER_ID = #{USER_ID}
    ORDER BY T_SR.DATE_TIME DESC;
     </select>
     
     <!-- 본인이 조회한 설문 내용 뽑아오기  -->
    <select id="surveycontent" parameterType="Map" resultType="Map">
    SELECT T_SQ.SURVEY_QUESTION, T_SO.SURVEY_OPT
    FROM SURVEYRESULT AS T_SR
    INNER JOIN SURVEY AS T_S
    ON T_S.SURVEY_UID = T_SR.SURVEY_UID
    INNER JOIN SURVEY_QUESTION AS T_SQ
    ON T_SQ.SURVEY_QUESTION_ID = T_S.SURVEY_QUESTION_ID
    INNER JOIN SURVEY_OPT AS T_SO
	ON T_SO.SURVEY_OPT_ID = T_S.SURVEY_OPT_ID
    GROUP BY T_SQ.SURVEY_QUESTION, T_SO.SURVEY_OPT, T_SR.SURVEY_UID
    HAVING T_SR.SURVEY_UID = #{SURVEY_UID};
    </select>



    <!-- BMI 뽑아오기  -->
	<select id="BMI" parameterType="Map" resultType="Map">
       SELECT DATE,HEIGHT,WEIGHT,BMI_RESULT, BMI_TYPE
       FROM project_diet.bmi
       where USER_ID = #{USER_ID}
       order by DATE;
	</select>

</mapper>
