<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Search">

     <!-- 검색 테이블 리스트 -->
	<select id="searchList" parameterType="Map" resultType="Map">
       select PRODUCT,URL,FORMULATION,PROUDUCT_IMG,EFFECT
       From project_diet.product;
	</select>

    <!-- 찐 검색창 리스트-->
    <select id="list" parameterType="Map" resultType="Map">
       select PRODUCT,URL,FORMULATION,PROUDUCT_IMG,EFFECT
        FROM project_diet.product
        WHERE 1 = 1
        <choose>
            <when test="search == 'PRODUCT'">
                AND PRODUCT LIKE CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'FORMULATION'">
                AND FORMULATION LIKE CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'EFFECT'">
                AND EFFECT LIKE CONCAT('%', #{words}, '%')
            </when>
        </choose> 
         limit #{pageBegin}, #{pageScale} 
        ;
    </select>

    
 <!--Pagination 레코드 갯수 -->
    <select id="cntTotal" parameterType="Map" resultType="int">
        select count(*) as cnt
        from project_diet.product
         WHERE 1 = 1
        <choose>
            <when test="search == 'PRODUCT'">
                AND PRODUCT LIKE CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'FORMULATION'">
                AND FORMULATION LIKE CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'EFFECT'">
                AND EFFECT LIKE CONCAT('%', #{words}, '%')
            </when>
        </choose> 
        ;

	</select>
    
    <!--Pagination  -->
    	<select id="selectPagination" parameterType="Map" resultType="Map">
        select PRODUCT,URL,FORMULATION,PROUDUCT_IMG,EFFECT
        From project_diet.product
        limit #{pageBegin}, #{pageScale} 
        ;
	</select>
</mapper>
