<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SurveyRank">

    <!-- 랭킹  -->
    <select id="surveyRankFirst" parameterType="Map" resultType="Map">
    SELECT T_SURVEYOPT.SURVEY_OPT_URL AS SURVEY_RANK_FIRST, T_SURVEYOPT.SURVEY_OPT_WEB_URL 
    FROM (
    SELECT T_SURVEY.SURVEY_UID
    FROM SURVEY AS T_SURVEY
    INNER JOIN SURVEYRESULT AS T_SURVEYRESULT ON T_SURVEY.SURVEY_UID = T_SURVEYRESULT.SURVEY_UID
    WHERE T_SURVEY.SURVEY_OPT_ID = 'O-54'
    ) AS T_SURVEYUID
    INNER JOIN SURVEY AS T_SURVEY2 ON T_SURVEYUID.SURVEY_UID = T_SURVEY2.SURVEY_UID
    INNER JOIN SURVEY_OPT AS T_SURVEYOPT ON T_SURVEYOPT.SURVEY_OPT_ID = T_SURVEY2.SURVEY_OPT_ID
    WHERE T_SURVEY2.SURVEY_QUESTION_ID = 'Q-06'
    GROUP BY T_SURVEYOPT.SURVEY_OPT_URL,  T_SURVEYOPT.SURVEY_OPT_WEB_URL
    ORDER BY COUNT(*) DESC
    LIMIT 3;
	</select>

    
    

   <select id="surveyRankSecond" parameterType="Map" resultType="Map">
    SELECT T_SURVEYOPT.SURVEY_OPT_URL AS SURVEY_RANK_SECOND, T_SURVEYOPT.SURVEY_OPT_WEB_URL
    FROM (
    SELECT T_SURVEY.SURVEY_UID
    FROM SURVEY AS T_SURVEY
    INNER JOIN SURVEYRESULT AS T_SURVEYRESULT ON T_SURVEY.SURVEY_UID = T_SURVEYRESULT.SURVEY_UID
    WHERE T_SURVEY.SURVEY_OPT_ID = 'O-53'
    ) AS T_SURVEYUID
    INNER JOIN SURVEY AS T_SURVEY2 ON T_SURVEYUID.SURVEY_UID = T_SURVEY2.SURVEY_UID
    INNER JOIN SURVEY_OPT AS T_SURVEYOPT ON T_SURVEYOPT.SURVEY_OPT_ID = T_SURVEY2.SURVEY_OPT_ID
    WHERE T_SURVEY2.SURVEY_QUESTION_ID = 'Q-06'
    GROUP BY T_SURVEYOPT.SURVEY_OPT_URL, T_SURVEYOPT.SURVEY_OPT_WEB_URL
    ORDER BY COUNT(*) DESC
    LIMIT 3;
	</select>    

    <select id="surveyRankThird" parameterType="Map" resultType="Map">
    SELECT T_SURVEYOPT.SURVEY_OPT_URL AS SURVEY_RANK_THIRD, T_SURVEYOPT.SURVEY_OPT_WEB_URL
    FROM (
    SELECT T_SURVEY.SURVEY_UID
    FROM SURVEY AS T_SURVEY
    INNER JOIN SURVEYRESULT AS T_SURVEYRESULT ON T_SURVEY.SURVEY_UID = T_SURVEYRESULT.SURVEY_UID
    WHERE T_SURVEY.SURVEY_OPT_ID = 'O-52'
    ) AS T_SURVEYUID
    INNER JOIN SURVEY AS T_SURVEY2 ON T_SURVEYUID.SURVEY_UID = T_SURVEY2.SURVEY_UID
    INNER JOIN SURVEY_OPT AS T_SURVEYOPT ON T_SURVEYOPT.SURVEY_OPT_ID = T_SURVEY2.SURVEY_OPT_ID
    WHERE T_SURVEY2.SURVEY_QUESTION_ID = 'Q-06'
    GROUP BY T_SURVEYOPT.SURVEY_OPT_URL, T_SURVEYOPT.SURVEY_OPT_WEB_URL
    ORDER BY COUNT(*) DESC
    LIMIT 3;
	</select>   
     
</mapper>
