<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SurveyService">
    
    <!-- 질문과 답항을 뽑아오는 쿼리(복용x)  -->
	<select id="surveyno" parameterType="Map" resultType="Map">
        SELECT Q.SURVEY_QUESTION, O.SURVEY_OPT, Q.SURVEY_QUESTION_ID 
        FROM survey_type_for_question AS T
        INNER JOIN survey_question AS Q 
        ON T.SURVEY_QUESTION_ID = Q.SURVEY_QUESTION_ID
        LEFT JOIN survey_opt AS O 
        ON Q.SURVEY_QUESTION_ID = O.SURVEY_QUESTION_ID
        WHERE T.SURVEY_TYPE_ID = 'F-01'
        ORDER BY O.OPT_ORDER;

	</select>

    <!-- 질문과 답항을 뽑아오는 쿼리(복용o)  -->
    <select id="surveyyes" parameterType="Map" resultType="Map">
        SELECT Q.SURVEY_QUESTION, O.SURVEY_OPT, Q.SURVEY_QUESTION_ID 
        FROM survey_type_for_question AS T
        INNER JOIN survey_question AS Q 
        ON T.SURVEY_QUESTION_ID = Q.SURVEY_QUESTION_ID
        LEFT JOIN survey_opt AS O 
        ON Q.SURVEY_QUESTION_ID = O.SURVEY_QUESTION_ID
        WHERE T.SURVEY_TYPE_ID = 'F-02'
        ORDER BY Q.QUESTION_ORDER, O.OPT_ORDER;
	</select>

    <!-- 설문조사 결과 입력-->
   <insert id="insertsurvey" parameterType="Map">
    INSERT INTO survey (SURVEY_TYPE_ID, SURVEY_QUESTION_ID, SURVEY_ID, USER_ID, SURVEY_OPT_ID)
    VALUES 
    values
    (#{SURVEY_TYPE_ID}, #{SURVEY_QUESTION_ID}, #{SURVEY_ID}, #{USER_ID}, #{SURVEY_OPT_ID});
    </insert>
    
</mapper>

