
    .modal-dialog {
        height: 500px; /* 원하는 높이 값으로 조정 */
        max-height: 80vh; /* 원하는 최대 높이 값으로 조정 */
    }
    .modal-header {
        word-spacing: -10px;
    }
    .form-check-label {
        margin-right: -10px;
    }
      .modal-body input[type="text"] {
        width: 3000px; /* 원하는 너비 값으로 조정 */
        height: 100%;
    }
