
/*기본버튼 css*/
.btn-main {
    background-color: #5B9BD5; 
    color: white;
    border-color: transparent;
  }

  .btn-main:active,
  .btn-main:hover {
    background-color: #5B9BD5; /* Specify the same background color as the default state */
    color: white;
}

.hr-solid {
    border : 0px;
    border-top: 5px solid #5B9BD5;
  }